body {
    background-color: #f1f1f1;
    background-image: url(restaurant-2yao8ksauirausgv9xg1slt2tbaxrx55m7qnujr8enc3k4z2m.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border-radius: 10px;
    background-color: #fff;
  }
  
  @keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide.active {
    display: block;
    animation-name: slideInFromRight;
  }
  
  .slide.previous {
    animation-name: slideInFromLeft;
  }
  
  h2 {
    margin: 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
  
  .info-box {
    padding: 20px;
    margin: 0;
    color: #333;
    background-color: #f8f8f8;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navigation {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button span {
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
  